body {
    font-family: "futura-pt", sans-serif;
    outline: none !important;
    overflow-x: hidden;
}
.wrapper {
    width: 100%;
    max-width: 1240px;
    margin: 0px auto;
    padding: 20px ;
}

.main-container
{
    
        color: #1A4122;
        text-transform: uppercase;
        font-family: "futura-pt", sans-serif;
        font-size: 0.875rem;
        letter-spacing: 2.1px;
        font-style: normal;
        font-weight: 450;
}
.main-container a {
    display: block;
    text-decoration: none;
    display: inline;
    padding: 35px;
    color: #1A4122;

}
/* .entry-content {
    counter-reset: footnotes;
} */
.tvideo {
    margin-bottom: 60px;
}
.home .testimonial-video-block {
    padding-top: 0px;
    padding-bottom: 0px;
}
/* .testimonial-video-block.single-vid {
    background-color: #BDBDBD;
    padding: 60px 0px;
} */
.video-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.testimonial-video-block video {
    width: 100%;
    height: 100%;
    min-height: 550px;
    object-fit: cover;
}
.testimonial-video-block.single-vid h2 {
    max-width: 900px;
    position: absolute;
    color: #FFF;
}
/* @media screen and (max-width: 1000px) */
.tvideo h2 {
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
    margin: -3%;
    letter-spacing:-3px ;
}
h1, h2, h3 {
    font-family: "F37 Caslon", serif;
    font-weight: lighter;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
}
.down-cheveron {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(img/icon/down-cheveron.svg);
    width: 38px;
    height: 12px;
    position: absolute;
    bottom: 52px;
}
/* @media screen and (max-width: 1000px) */
.content-slider-section {
    padding-top: 0px;
}
section {
    display: inline;
}
.flex_container
{
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-content: space-between;
    -webkit-box-align: stretch;
    align-items: stretch;
    clear: both;

}

/* @media screen and (max-width: 1000px) */
.content-slider-section .flex_container .flex_item {
    width: 100%;
}
.content-slider-section .flex_item.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_container .flex_item
{
     order: 0;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    align-self: auto;
}
/* @media screen and (max-width: 1000px) */
.content-slider-section .content-wrap {
    padding-right: 0;
}
/* @media screen and (max-width: 1000px) */
.content-slider-section .content-wrap {
    max-width: 550px;
    float: right;
    /* padding-right: 0; */
    text-align: center;
}
/* div {
    display: inline;
} */
/* @media screen and (max-width: 1000px) */
.twentyfour-content h3, .twentyfour-content h4, .twentyfour-content h5, .twentyfour-content ul {
    padding-left: 20px;
    padding-right: 20px;
}
.twentyfour-content h3 {
    color: #647B4E;
    /* text-align: center; */
    font-family: "Rustica", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
 h3 {
    clear: both;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/* @media screen and (max-width: 1000px) */
.twentyfour-content h2 {
    font-size: 3.2rem;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: -1px;
    line-height: 3.3rem;
}
.twentyfour-content h2 {
    color: #1A4122;
    font-family: "F37 Caslon", serif;
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 24px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.content-slider-section .content-wrap p {
    max-width: 490px;
    margin: 30px auto 35px;
    color: #1A4122;
}
/* @media screen and (max-width: 1000px) */
.twentyfour-content p {
    padding-left: 20px;
    padding-right: 20px;
}
.twentyfour-content p {
    font-size: 20px;
    line-height: 140%;
}
body p {
    /* font-size: 20px; */
    font-style: normal;
    font-weight: 300;
    /* line-height: 140%; */
    letter-spacing: 0.16px;
    /* color: #1A4122; */
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.btn {
    background-color: #C15627;
    border-radius: 30px;
    padding: 10px 60px 10px 40px;
    text-wrap: nowrap;
    position: relative;
    text-transform: uppercase;
    font-family: "futura-pt", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    transition: .2s;
    cursor: pointer;
    position: relative;
    display: inline-block;
    z-index: 2;
}
/* @media screen and (max-width: 1000px) */   
.content-slider-section .flex_container .flex_item {
    width: 100%;
}
.flex_container .flex_item {
    flex-grow: 1;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
/* @media screen and (max-width: 1000px) */
.content-slider-section .content-slider {
    width: 96%;
    float: right;
}
.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    user-select: none;
}
.flickity-enabled {
    position: relative;
}
/* @media screen and (max-width: 1000px) */
.content-slider-section .flickity-viewport {
    border-top-left-radius: 200px;
    background-color: #FFF;
}
.flickity-viewport {
    overflow: hidden;
    position: relative;
}
.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    transform: translateX(0%);
}
.slider-image.is-selected {
    opacity: 1;
    z-index: 0;
}
/* @media screen and (max-width: 1000px) */
.content-slider-section .slider-image {
    height: 64vh;
    max-height: 470px;
}
/* @media screen and (max-width: 1000px) */
.content-slider-section .slider-image img {
    border-top-left-radius: 200px;
}
.content-slider-section .slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: none;
}
/* @media screen and (max-width: 1000px) */
.content-slider-section .slider-image {
    height: 64vh;
    max-height: 470px;
}
.slider-image {
    left: 0 !important;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
}
.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}
ol {
    box-sizing: border-box;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
figure {
    margin: 0 0 -7px;
}
script {
    display: none;
}
/* @media (max-width: 1000px) */
.carrot-pin {
    display: none;
}
.carrot-pin {
    position: relative;
}
.flex_container.flex_two > .flex_item.flex_40 {
    width: 40%;
}
.scroll-accordion__window {
    position: relative;
    border-radius: 100vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    z-index: 0;
}
.scroll-accordion.js-transitions .scroll-accordion__window img {
    transition: transform cubic-bezier(0.47, 0.29, 0.66, 0.88) 250ms;
}
.scroll-accordion__window img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img {
    height: auto;
    max-width: 100%;
}
img {
    border-style: none;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.flex_container.flex_two > .flex_item.flex_40 {
    width: 40%;
}
.flex_container.flex_two > .flex_item.flex_60 {
    width: 60%;
}
/* @media screen and (max-width: 1000px) */
.twentyfour-content h2 {
    font-size: 3.2rem;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: -1px;
    line-height: 3.3rem;
}
.twentyfour-content h2 {
    color: #1A4122;
    /* text-align: center; */
    font-family: "F37 Caslon", serif;
    /* font-size: 100px; */
    font-style: normal;
    font-weight: 400;
    line-height: 92%;
    /* letter-spacing: -3px; */
    margin-top: 0px;
    margin-bottom: 24px;
}
.text-left {
    text-align: left !important;
}
.scroll-accordion__picker {
    margin-top: 3rem;
    display: grid;
    align-items: start;
    gap: 3rem;
}
/* @media screen and (max-width: 1000px) */
.circle-content-block {
    overflow-x: hidden;
}

/* @media screen and (max-width: 1000px) */
.circle-content-block .circle-banner {
    min-height: 365px;
    background-image: url(https://24carrots.com/wp-content/uploads/2023/10/unforegetable-banner.png);
}
.circle-content-block .circle-banner {
    background-size: cover;
    background-position: center center;
    width: 100%;
    /* min-height: 595px; */
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
}
.circle-content-block .circle-content {
    position: relative;
    z-index: 2;
    margin: -50px auto 0;
}
/* @media screen and (max-width: 1000px) */
.circle-content-block .half-cirlce {
    height: 257px;
    width: 413px;
}
.circle-content-block .half-cirlce {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 345px 345px 0 0;
    background-color: #fff;
    display: block;
    z-index: 23344;
    /* height: 316px; */
    /* width: 643px; */
    bottom: -292px;
}
.circle-content-block .circle-content {
    max-width: 620px;
    position: relative;
    z-index: 2;
    margin: -50px auto 0;
}
/* screen and (max-width: 1000px) */
.youtube-embed-block {
    padding-top: 0;
    padding-bottom: 0;
}
.youtube-embed-block {
    /* padding-top: 60px; */
    /* padding-bottom: 100px; */
    position: relative;
}
/* @media screen and (max-width: 1000px) */
.youtube-embed-block.grey-up:before {
    height: 885px;
}
.youtube-embed-block.grey-up:before {
    content: '';
    width: 100%;
    /* height: 1195px; */
    background-color: #e8ebe4;
    position: absolute;
    top: -770px;
    display: block;
    z-index: -1;
}

.youtube-wrap {
    margin: 0px auto;
    display: block;
    position: relative;
    z-index: 2;
    padding: 30px;
}
.fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
    padding-top: 56.25% !important;
}
iframe.__youtube_prefs__ {
    border-width: 0;
}
.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
iframe {
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
    /* border-width: 2px; */
    border-style: inset;
    border-color: initial;
    border-image: initial;
}